.navbar {
    font-weight: 500;
    font-size: 14px;
    opacity: 1;
    transition: opacity 0.5s ease;
}

nav .dropdown-menu {
    font-size: 14px;
}

.dropdown .dropdown-menu a:hover
{
    color: #fff;
    background-color: rgb(91,94,121);
    border-color: #fff;
}

.navbar .navbar-brand {
    font-weight: 300;
    font-size: 1em;
    letter-spacing: .1em;
}

.navbar-hide {
    pointer-events: none;
    opacity: 0;
}
