.jumbotron {
    padding: 2em;
    background-position: center center;
    background-color: rgb(83,80,92);
    color: white;
}

.jumbotron h1 {
    font-size: 35px;
    font-weight: 200;
    color: #e3e3e4;
}