.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-outline-primary {
    border-radius: 0px;
    font-size: 1em;
    border-color: rgb(99, 94, 121);
    color: rgb(99, 94, 121);
}

.btn-outline-primary:focus {
    outline: none !important;
    box-shadow: none !important;
}

.btn-outline-primary:hover {
    background-color: rgb(99, 94, 121) !important;
    border-color: rgb(99, 94, 121) !important;
}

.btn-outline-primary:active {
    background-color: rgb(56, 63, 69) !important;
    border-color: rgb(56, 63, 69) !important;
}

.btn-primary {
    border-radius: 0px;
    font-size: 1em;
    border-color: rgb(99, 94, 121);
    background-color: rgb(99, 94, 121);
    color: white;
}

.btn-primary:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: rgb(99, 94, 121);
    background-color: rgb(99, 94, 121);
}

.btn-primary:hover {
    background-color: rgb(56, 63, 69) !important;
    border-color: rgb(56, 63, 69) !important;
}

.btn-primary:active {
    background-color: rgb(56, 63, 69) !important;
    border-color: rgb(56, 63, 69) !important;
}

.card {
    border-radius: 0px;
}

.modal-content {
    border-radius: 0px;
}