{{ define "main" }}

{{ $currentPage := . }}

<div class="row pt-4">
    <div class="col-12">
        <div class="device-post">
            {{ .Content }}
        </div>            
    </div>

    <div class="col-12">
        {{ with .Params.schema }}
            {{ $image := $currentPage.Resources.GetMatch . }}
            {{ if $currentPage.Params.legend }}
                <button type="button" class="btn btn-link shadow-none" data-toggle="modal" data-target="#legend-modal">
            {{ end }}
                <img src="{{ $image.RelPermalink }}" class="img-fluid pb-3" alt="{{ $currentPage.Title }}">
            {{ if $currentPage.Params.legend }}
                </button>
            {{ end }}
        {{ end }}
    </div>

    {{ with .Params.images }}
    <div class="col-12">
        <hr class="divider">        
        <div class="device-gallery">
            {{- $counter := 1 -}}
            {{- range . -}}
                {{- $thumbnail := $currentPage.Resources.GetMatch .thumbnail -}}
                {{- $original := $currentPage.Resources.GetMatch .original -}}
                <a href="{{ $original.RelPermalink }}" class="p-0"><img src="{{ $thumbnail.RelPermalink }}" class="img-thumbnail shadow rounded m-1{{ if gt $counter 5 }} d-none{{ end }}"></a>
                {{- $counter = add $counter 1 -}}
            {{- end -}}
        </div>
    </div>
    {{ end }}

    <!-- Modal -->
    <div class="modal fade" id="legend-modal" tabindex="-1" aria-labelledby="#legend-modal-label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="#legend-modal-label">{{ $currentPage.Title }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-left">
                    {{ with .Params.schema }}
                    {{ $image := $currentPage.Resources.GetMatch . }}
                    <img src="{{ $image.RelPermalink }}" class="img-fluid pb-3" alt="{{ $currentPage.Title }}">
                    {{ end }}
                    {{ with .Params.legend }}
                        {{ with $.Resources.GetMatch . }}{{ .Content }}{{ end }}
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</div>

{{ end }}
