{{ define "main" }}

{{ $currentPage := . }}

{{ $counter := 1 }}
{{ range sort (.Resources.Match "*.md") "Params.weight" }}
    {{ if ne $counter 1 }}
    <hr class="divider">
    {{ end }}
    <div class="row">
        <div class="col-lg-12">
            {{ .Content }}
        </div>
    </div>
    <div class="row history-gallery">
        {{ with .Params.gallery }}
        {{- range . -}}
        <div class="col-lg-2 col-md-3 col-sm-4 col-6 p-1">
            {{- $thumbnail := $currentPage.Resources.GetMatch .thumbnail -}}
            {{- $original := $currentPage.Resources.GetMatch .original -}}
            <a title="{{ .title }}" href="{{ $original.RelPermalink }}">
                <img class="img-thumbnail shadow" src="{{ $thumbnail.RelPermalink }}" alt="">
            </a>
        </div>
        {{- end -}}
        {{ end }}
    </div>
    {{ $counter = add $counter 1}}
{{ end }}

{{ end }}