{{ define "main" }}

{{ $currentPage := . }}

<div class="row">    
    {{- $counter := 1 -}}
    {{- with .Params.directors -}}
    {{- range . -}}
    {{ $name := print .lname " " .fname }}
    <div class="col-md text-center pt-2">
        <div class="row">
            <div class="col-sm-12">
                {{- $image := $currentPage.Resources.GetMatch .image -}}
                {{ with .info }}
                <button type="button" class="btn btn-link shadow-none" data-toggle="modal" data-target="#director{{- $counter -}}">
                {{ end }}
                    <img src="{{ $image.RelPermalink}}" class="img-fluid rounded-circle" alt="{{ .name }}">
                {{ with .info }}
                </button>
                {{ end }}
            </div>
            <div class="col-sm-12 text-center pt-2">
                <p>{{ $name | upper }}<br>{{ .title }}<br>{{ .dates }}</p>
            </div>
            <div class="col-sm-12 text-center">
                {{ with .info }}
                <button type="button" class="btn btn-outline-primary shadow-none btn-sm" data-toggle="modal" data-target="#director{{- $counter -}}">Информация</button>
                {{ end }}

                <!-- Modal -->
                {{ with .info }}
                <div class="modal fade" id="director{{- $counter -}}" tabindex="-1" aria-labelledby="#directorLabel{{- $counter -}}" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="#directorLabel{{- $counter -}}">{{ $name }}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body text-left">
                                {{ with $.Resources.GetMatch . }}{{ .Content }}{{ end }}
                            </div>
                        </div>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
    {{- $counter = add $counter 1 -}}
    {{- end -}}
    {{- end -}}
</div>

<hr class="divider">

<div class="row">
    <div class="col-12">
    {{ .Content }}
    </div>
</div>

<hr class="divider">

<div class="row history-gallery">
    {{ with .Params.images }}
    {{- range . -}}
    <div class="col-lg-2 col-md-3 col-sm-4 col-6 p-1">
        {{- $thumbnail := $currentPage.Resources.GetMatch .thumbnail -}}
        {{- $original := $currentPage.Resources.GetMatch .original -}}
        <a title="{{ .title }}" href="{{ $original.RelPermalink }}">
            <img class="img-thumbnail shadow" src="{{ $thumbnail.RelPermalink }}" alt="">
        </a>
    </div>
    {{- end -}}
    {{ end }}
</div>

{{ end }}