{{ define "main" }}

{{ $currentPage := . }}

{{ with .Page.Params.personnel }}
    {{ $counter := 1 }}
    {{ range . }}
        {{ $pos := mod $counter 2 }}
        {{ if ne $counter 1 }}
            <hr class="divider">
        {{ end }}
        <div class="row">
            <div class="col-sm-5 col-md-6 order-md-{{ if eq $pos 1 }}1{{ else }}2{{ end }}">
                {{- $image := $currentPage.Resources.GetMatch .image -}}
                {{ with .url }}
                <a href="{{ . }}">
                {{ end }}
                    <img src="{{ $image.RelPermalink}}" class="{{ if eq $pos 1 }}float-md-right{{ end }} rounded-circle" alt="{{ .name }}">
                {{ with .url }}
                </a>
                {{ end }}
            </div>
            <div class="col-sm-7 col-md-6 order-md-{{ if eq $pos 1 }}2{{ else }}1 text-md-right{{ end }}">
                {{ with .url }}
                <a href="{{ . }}">
                {{ end }}
                    <p class="pt-2">{{ .name | upper }}</p>
                {{ with .url }}
                </a>
                {{ end }}
                <p>{{ .title }}</p>
                {{ with .area }}
                <p>Область научных интересов:<br>{{ . }}</p>
                {{ end }}
            </div>
        </div>
        {{ $counter = add $counter 1 }}
    {{ end }}
{{ end }}

{{ end }}