{{ define "main" }}

{{ $currentPage := . }}
{{ $name := print .Params.name }}

<div class="row no-gutters">
    <div class="col-12 d-none d-sm-block">
        <figure class="figure float-left mr-5">
            {{ with .Params.info }}
            <button type="button" class="btn btn-link shadow-none" data-toggle="modal" data-target="#director">
            {{ end }}
            {{ with .Params.image }}
            {{ $image := $currentPage.Resources.GetMatch . }}
                <img class="img-fluid" src="{{ $image.RelPermalink }}">
            {{ end }}
            {{ with .Params.info }}
            </button>
            {{ end }}
            {{ with .Params.caption }}
            <figcaption class="figure-caption text-center mt-3">{{ . | safeHTML }}</figcaption>
            {{ end }}
        </figure>
        {{ .Content }}
    </div>
    <div class="col-12 d-block d-sm-none text-center">
        <figure class="figure">
            {{ with .Params.image }}
            {{ $image := $currentPage.Resources.GetMatch . }}
            <img class="img-fluid" src="{{ $image.RelPermalink }}">
            {{ end }}
            {{ with .Params.caption }}
            <figcaption class="figure-caption text-center mt-3">{{ . | safeHTML }}</figcaption>
            {{ end }}
        </figure>
    </div>
    <div class="col-12 d-block d-sm-none">
        {{ .Content }}
    </div>
    <!-- Modal -->
    {{ with .Params.info }}
    <div class="modal fade" id="director" tabindex="-1" aria-labelledby="#directorLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="#directorLabel">{{ $name }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-left">
                    {{ with $.Resources.GetMatch . }}{{ .Content }}{{ end }}
                </div>
            </div>
        </div>
    </div>
    {{ end }}
</div>

{{ end }}