<footer class="footer">
    <div class="row">
        <div class="col-md-12">
            <div class="footer-menu">
                <ul>
                    {{ range .Site.Menus.footer }}
                    <li><a href="{{ .URL | relLangURL }}">{{ .Name }}</a></li>
                    {{ end }}
                </ul>
            </div>
            <p class="copyright">{{ .Site.Params.copyright | markdownify }}</p>
        </div>
    </div>
</footer>

<!-- Bootstrap -->
<script   src="https://code.jquery.com/jquery-3.6.0.min.js"   integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="   crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

<!-- Magnific Popup core JS file -->
<script src="/js/jquery.magnific-popup.min.js"></script>

<!-- Main script -->
{{ $script := resources.Get "js/script.js" | minify }}
<script src="{{ $script.RelPermalink }}"></script>