<head>
    <title>{{ upper .Title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ "/css/magnific-popup.css" | relLangURL }}">
    <link rel="stylesheet" href="{{ "/css/slick.css" | relLangURL }}">
    <link rel="stylesheet" href="{{ "/css/slick-theme.css" | relLangURL }}">

    {{ "<!-- Main stylesheet -->" | safeHTML }}
    {{ $styles := resources.Get "scss/style.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}" media="screen">
</head>