<div class="jumbotron jumbotron-fluid">
    <div class="container container-fluid">
        {{ if .IsHome }}
        <div class="row">
            <div class="col-12 pb-4">
                <h1 class="text-center">{{ (default .Title .Params.extended) | safeHTML }}</h1>
            </div>
            <div class="col-12">
                <hr class="divider">
            </div>
            <div class="col-12 pt-4">
                <h2 class="text-center">{{ .Params.subtitle }}</h2>
            </div>
            <div class="col-12 text-center pt-4">
                <a type="button" class="btn btn-primary shadow-none px-5 py-2" href="{{ .Params.link | relLangURL }}">ИНФОРМАЦИЯ</a>
            </div>
        </div>
        {{ else }}
        <h2 class="text-center">{{ default .Title .Params.extended }}</h2>
        {{ end }}
    </div>
</div>